<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>

  <body>
    <div class="container">
      <h1 class="mt-5">Error</h1>
      <p class="mt-4">An error occurred while processing your request.</p>
    </div>
  </body>

</html>