<!DOCTYPE html>
<html>

<%- include('partials/head.ejs') %>

  <body>
    <div class="container">
      <h1 class="mt-5">Movie Search</h1>
      <form action="/search" method="get" class="mt-4">
        <div class="form-group">
          <label for="query">Search for a movie:</label>
          <input type="text" id="query" name="q" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </body>

</html>